[Unit]
Description=Dockerized Web Development Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker-compose -f "${DOCKERDEV_LOCATION}/docker-compose.yaml" down
ExecStart=/usr/bin/docker-compose -f "${DOCKERDEV_LOCATION}/docker-compose.yaml" up
ExecStop=/usr/bin/docker-compose -f "${DOCKERDEV_LOCATION}/docker-compose.yaml" stop

[Install]
WantedBy=multi-user.target
